<div class="container-big-card">
  <div class="big-card-photo">
    <img
      src="https://media.istockphoto.com/id/1409329028/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=_zOuJu755g2eEUioiOUdz_mHKJQJn-tDgIAhQzyeKUQ="
      alt="big-card-photo"
      height="200px"
    />
  </div>

  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card-description">
    <p>
      <a href="#">
        Officia qui laboris adipisicing consequat consectetur aute commodo
        commodo fugiat non tempor. Anim cupidatat esse laboris eu quis voluptate
        enim cillum occaecat consectetur. Cillum sit eu irure et sunt laboris.
        Qui sint proident ad reprehenderit.
      </a>
    </p>
  </div>
</div>
