<div class="container-small-card">
  <div class="container-small-card-content">
    <div class="small-card-photo">
      <img
        src="https://media.istockphoto.com/id/1409329028/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=_zOuJu755g2eEUioiOUdz_mHKJQJn-tDgIAhQzyeKUQ="
        alt="small-card-photo"
        height="200px"
      />
    </div>

    <div class="small-card-title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
  </div>
  <div class="small-card-separator">
    <hr />
  </div>
</div>
